<% include partials/header %>
<div class="container">
    <header>
        <h1>NFL 2017-18 Team Leaders</h1>
    </header>
    <aside>
        <h2>Filter by:</h2>
        
    </aside>
    <main>Main area</main>
</div>

<% include partials/footer %>