body {
  font-family: 'Roboto', sans-serif;
  background-color: #ebebeb;
  background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
}

header {
  background-color: rgb(1, 51, 105);
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  h1 {
    font-family: 'Roboto Slab', serif;
    color: #fff;
    font-size: 32px;
    @media only screen and (min-width: 992px) {
      font-size: 48px;
    }
    font-weight: 700;
  }

}

aside {
  background-color: #ccc;
  border: 1px solid #bbb;
  padding: 30px;
  h2 {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    text-transform: uppercase;
  }

  .ui.sub.header,
  .ui.form .grouped.fields > label {
    font-size: 13px;
    text-transform: uppercase;
  }

}

#position-filter,
#probowl-filter {
  margin-top: 20px;
}

#team-list {
  @media only screen and (min-width: 992px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.no-match {
  background-color: rgb(1, 51, 105);
  color: #fff;
  @media only screen and (min-width: 992px) {
    width: 50%;
  }
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    font-size: 24px;
    @media only screen and (min-width: 992px) {
      font-size: 32px;
    }
    font-family: 'Roboto Slab', serif;
  }
}

.player-card {
  position: relative;
  flex-basis: 48%;
  background-color: #fff;
  margin-bottom: 28px;

  &:nth-of-type(odd){
    @media only screen and (min-width: 992px) {
      margin-right: 3.5%;
    }
  }

  &-header {
    height: 50px;
    display: flex;
    align-items: center;

    h2 {
      color: #fff;
      margin-left: 120px;
      font-size: 22px;
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        font-size: 16px;
      }
    }

    small {
      font-size: 70%;
    }

  }

  &-body {
    display: flex;

    .logos {
      flex: 1;
      position: relative;
    }

    .yards {
      height: 100px;
      flex: 1;
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        flex:none;
        margin-right: 10px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    .tds {
      height: 100px;
      flex: 1;
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        flex:none;
        margin-right: 10px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  &-footer {
    height: 25px;
    margin-top:auto;
    display: flex;
    align-items: center;
    h3 {
      color: #fff;
      font-size: 12px;
      margin-left: 10px;
    }
  }

  &-header,
  &-footer {
    // NFC EAST
    .phi & {background-color: #004C54;}
    .dal & {background-color: #041E42;}
    .nyg & {background-color: #0B2265;}
    .was & {background-color: #651D32;}
    // NFC NORTH
    .min & {background-color: #4F2683;}
    .det & {background-color: #0069B1;}
    .gb & {background-color: #183028;}
    .chi & {background-color: #0B162A;}
    // NFC SOUTH
    .atl & {background-color: #A6192E;}
    .car & {background-color: #0085CA;}
    .tb & {background-color: #C8102E;}
    .nor & {background-color: #D3BC8D;}
    // NFC WEST
    .sea & {background-color: #0C2340;}
    .arz & {background-color: #9B2743;}
    .lar & {background-color: #041E42;}
    .sf & {background-color: #A6192E;}
  }

  &-stripe {
    height: 20px;
    // NFC EAST
    .phi & {background-color: #A5ACAF;}
    .dal & {background-color: #869397;}
    .nyg & {background-color: #A71930;}
    .was & {background-color: #FFB81C;}
    // NFC NORTH
    .min & {background-color: #FFC62F;}
    .det & {background-color: #A2AAAD;}
    .gb & {background-color: #FFB81C;}
    .chi & {background-color: #C83803;}
    // NFC SOUTH
    .atl & {background-color: #101820;}
    .car & {background-color: #101820;}
    .tb & {background-color: #3D3935;}
    .nor & {background-color: #101820;}
    // NFC WEST
    .sea & {background-color: #78BE20;}
    .arz & {background-color: #000000;}
    .lar & {background-color: #866D4B;}
    .sf & {background-color: #85714D;}
  }


  &-image {
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: #fff;
    top: 10px;
    left: 10px;
    z-index: 100;
  }

  &-team {
    width: 50px;
    position: absolute;
    bottom: 5px;
    left: 10px;
  }

  .stat-block {
    text-align: center;
  }

  .stat-block-label {
    margin: 0;
    font-size: 12px;
  }

  .stat-block-data {
    margin: 0;
    font-size: 36px;
  }

}